.application {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-color: $color-gray-light;
  border-radius: 50%;
  overflow: hidden;

  & > a {
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;

    &:hover {
      .overlay {
        bottom: 0%;
      }
    }
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -100%;
    transition: bottom 0.35s ease-out;
    pointer-events: none;

    .title {
      display: flex;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100%;
      padding: 10px;
      background-color: rgba(0, 61, 107, 0.75);
      color: white;
      font-weight: 700;
      align-items: center;
      justify-content: center;
    }
  }
}

.application {
  border: 8px solid $color-1;
  box-sizing: content-box;

  width: calc(100% - 16px * 2);
  padding-bottom: calc(100% - 16px * 2);
  margin-bottom: 20px !important;
}

.application-grid {
  margin-top: 3em;

  .col {
    @for $i from 1 through 9 {
      &:nth-child(9n+#{$i}) .application {
        border-color: nth($colors-pi, $i);
      }
    }
  }
}
