.modal-backdrop.show {
  opacity: 0.7;
  -webkit-transform: translateZ(1000px);
}

.modal-header {
  background-color: $color-green;
  color: white;
  border-bottom: none;

  .close {
    opacity: 1;
    font-size: 2.2em;
    color: $color-white;
  }
}

.modal {
  -webkit-transform: translateZ(1000px);
}
